<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
   <div class="introduction">
    <div class="sidebar sidebarGo">
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="intro.html"  class="active">My Intro</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="blog.html">Resposibility</a></li>
            <li><a href="contact.html">Contact Me</a></li>
          </ul>
        </nav>
    </div>
    <div class="main">
        <div class="hamburger">
          <img class="ham" src="../images/ham.png" alt="" width="23">
          <img class="cross" src="../images/cross.png" alt="" width="23">
        </div>
        <div class="intro">
           <h2>About Me</h2>
           <h4>I am a Senior at NIT Kurukhetra pursuing my Btech(2020-2024) in Information Technology.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            I am an enthusiastic problem solver eager to contribute to team success through hard work and dedication,my passion lies in the field of coding and solving real life problems,I love to play cricket , dancing and reading books.
           </h4>
           <h2>My Skills</h2>
           <div class="skillContainer">
               <div class="skillname">
                <div class="skillItem">C++:&nbsp&nbsp</div>
                <div class="skillItem">Data Structures:&nbsp&nbsp</div>
                <div class="skillItem">Algorithms:&nbsp&nbsp</div>
                <div class="skillItem">React.js:&nbsp&nbsp</div>
                <div class="skillItem">CSS:&nbsp&nbsp </div>
                <div class="skillItem">HTML:&nbsp&nbsp</div>
               </div>
               <div class="skillper">
                <div class="skill "><p>87%</p></div>
                <div class="skill t100"><p>83%</p></div>
                <div class="skill t99"><p>72%</p></div>
                <div class="skill t75"><p>59%</p></div>
                <div class="skill t50"><p>52%</p></div>
                <div class="skill t25"><p>43%</p></div>
               </div>
           </div>
           <h2>My Projects....</h2>
           <div class="projectlist">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <a href="https://github.com/2930Harsh/e-commerce-website" class="card-title" target="_blank">
                    <h5 class="card-title">1. E-Commerce Website
                    </h5>
                  </a>
                  <p class="card-text">Welcome , here every click opens a door to a world of diverse treasures
                  </p>
                  <p class="card-text"></p>
                  <a href="https://github.com/2930Harsh/e-commerce-website"  target="_blank">
                    <img src="../images/e-commerce.jpg" class="card-img-top" alt="...">
                  </a>
                  <a href="https://github.com/2930Harsh/e-commerce-website"  target="_blank" class="btn btn-sm">Have a look</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <a href="https://github.com/2930Harsh/React-News-App" target="_blank" class="card-title">
                    <h5 class="card-title">2. 24*7 News App</h5>
                  </a>
                  <p class="card-text">Your gateway to real-time updates and unbiased stories from around the globe</p>
                  <a href="https://github.com/2930Harsh/React-News-App" target="_blank" >
                    <img src="../images/news.png" class="card-img-top" alt="...">
                  </a>
                  <a href="https://github.com/2930Harsh/React-News-App" target="_blank" class="btn btn-sm">Have a look</a>
                </div>
            </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <a href="https://github.com/2930Harsh/College-Website" target="_blank" class="card-title">
                    <h5 class="card-title">3. NIT KKR Website</h5>
                  </a>
                  <p class="card-text">Have a look at a Demo Website of one of the best institute of India.</p>
                  <a href="https://github.com/2930Harsh/College-Website" target="_blank">
                    <img src="../images/NIT_logo.png" class="card-img-top" alt="...">
                  </a>
                  <a href="https://github.com/2930Harsh/College-Website" target="_blank" class="btn btn-sm">Have a look</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <a href="https://github.com/2930Harsh/Snake-Mania" target="_blank" class="card-title">
                    <h5 class="card-title">4. Snake Mania</h5>
                  </a>
                  <p class="card-text">Play - Navigate, grow, and challenge your reflexes in adventure of fun</p>
                  <a href="https://github.com/2930Harsh/Snake-Mania" target="_blank" class="card-title">
                    <img src="../images/snake.jpeg" class="card-img-top" alt="...">
                  </a>
                  <a href="https://github.com/2930Harsh/Snake-Mania" target="_blank" class="btn btn-sm">Have a look</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <a href="https://github.com/2930Harsh/Dragon-Adventure" target="_blank" class="card-title">
                    <h5 class="card-title">5. Dragon Adventure</h5>
                  </a>
                  <p class="card-text">Embark on a mythical journey. Conquer challenges and be a hero</p>
                  <a href="https://github.com/2930Harsh/Dragon-Adventure" target="_blank" >
                    <img src="../images/dragon.png" class="card-img-top" alt="...">
                  </a>
                  <a href="https://github.com/2930Harsh/Dragon-Adventure" target="_blank" class="btn btn-sm">Have a look</a>
                </div>
              </div>
           </div>
    </div>
   </div>
</div>
   <script src="../script.js"></script>
</body>
</html>